/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap/dist/css/bootstrap';



.navbar {
  background-color: #ffd1dc;
  color: white;
  text-decoration: none !important;
}

.navbar-brand {
  background-color: #ffd1dc;
  color: white;
  text-decoration: none !important;
  font-size: 2rem;
}

.navbar-brand:hover {
  color: hotpink;
  transition: 1s;
}

.alert {
  margin: 1em;
  padding: 1em;
}

.nav-link {
  color: hotpink;
}

.nav-link:hover {
  color: white;
  font-weight: 800px;
  transition: 0.5s;
}

.search-area {
  padding-top: 50px;
}

// This is for the search form in 'my portfolio'
.no-right-padding {
  padding-right: 0 !important;
}

.no-left-padding {
  padding-left: 0 !important;
}

.results-block {
  display: inline-block;
}